.all{
  flex: auto;
  width: 96%;
  margin: 0 auto;
  #containter{
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.bg{
  width:100%;
  height:100%;
  filter: blur(6px);
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}
.loginBox{
  position: absolute;
  width:100%;
  height: 100%;
}
.formBorder{
  position: relative;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height:100%;
}
.nullMargin{
  margin-top: 20px;
  margin-bottom: 20px;
}
.nullMargin2{
  width:200px;
  height:200px;
  background-color: yellow;
  margin-top: 20px;
  margin-bottom: 20px;
}
.im{
  position: absolute;
}
.text{
  position: absolute;
  bottom:20px;
  right:0px;
}